div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100% !important;
}

p {
    font-size: 30px;
    cursor: pointer;
}

.grey {
    color: #ededed;
    cursor: default;
}

@media (max-width: 800px) {
    p {
        font-size: 20px;
    }
}