<nav>
    <h1>Административная панель</h1>
    <ul>
        <li [routerLink]="['/newQuestion']"><i class="fas fa-plus"></i></li>
        <li [routerLink]="['/']" (click)="logout()"><i class="fas fa-sign-out-alt"></i></li>
    </ul>
</nav>

<section id="block">
    <div *ngIf="!loading">
        <h2>Список всех участников</h2>
        <h5 *ngIf="allUsers.length == 0">Пока нет ответов</h5>
        <div class="row">
            <div class="row1">
                <p *ngIf="sortPointsTouch" (click)="sortPoints()" [ngClass]="{'bold': sortPointsFlag, 'light' : !sortPointsFlag}">↑ По количеству баллов</p>
                <p *ngIf="!sortPointsTouch" (click)="sortPoints()" [ngClass]="{'bold' : sortPointsFlag, 'light' : !sortPointsFlag}">↓ По количеству баллов</p>
                <p *ngIf="sortTimeTouch" (click)="sortTime()" [ngClass]="{'bold' : sortTimeFlag,  'light' : !sortTimeFlag}">↑ По дате начала игры</p>
                <p *ngIf="!sortTimeTouch" (click)="sortTime()" [ngClass]="{'bold' : sortTimeFlag, 'light' : !sortTimeFlag}">↓ По дате начала игры</p>
            </div>
            <i class="fas fa-redo" (click)="updateUser()"></i>
        </div>
        <div class="allUsers">
            <table class="print"> 
                <app-one-user
                    *ngFor="let user of allUsers; let i = index"
                    [user]="user"
                    [idx] = "i"
                    (onDelete)="deleteUser($event)"
                ></app-one-user>
            </table>
            <app-one-user
                    *ngFor="let user of allUsers; let i = index"
                    [user]="user"
                    [idx] = "i"
                    (onDelete)="deleteUser($event)"
                    class="notPrint"
                ></app-one-user>
        </div>
    </div>
    <div *ngIf="loading">
        <h3>Загрузка...</h3>
    </div>
</section>
