main {
    background: url(../../../../assets/mainBack.png) no-repeat center top / cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #dc4128;
    text-align: center;
    font-size: 45px;
    margin-bottom: 1%;
    font-weight: 900;
}

.allTable {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 80vw;
    border: 5px solid #dc4128;
    border-radius: 15px;
    overflow: hidden;
}

.fullCoast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background: rgba(255,255, 255, 0.7);
}

.category_name {
    padding: 4%;
    background: #dc4128;
    color: white;
    font-weight: 900;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.loading {
    font-weight: 900;
    font-size: 50px;
    color: #dc4128;
}

.blackScreen {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.modal {
  width: 50vw;
  padding: 2%;
  z-index: 2;
  background: white;
  position: relative;
  border-radius: 10px;
  margin-left: 25vw;
  text-align: center;
  margin-top: 50vh;
  transform: translate(0, -50%);
}

.btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.btn {
    padding: 2%;
    width: 100%;
    font-size: 18px;
    font-weight: 900;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    outline: none;
    margin: 0 5%;
}

.btn-primary {
    border: 2px solid #dc4128;
    background: #dc4128;
    color: white;
}

.btn-primary:hover {
  background: transparent;
  color: #dc4128;
}

.btn-alternate {
    border: 2px solid #dc4128;
    background: transparent;
    color: #dc4128;
}

.btn-alternate:hover {
  background: #dc4128;
  color: white;
}

.continue {
  margin-top: 1%;
  font-weight: 900;
  font-size: 25px;
  cursor: pointer;
  text-align: right;
}

@media (max-width: 800px) {

    main {
        width: 100vw;
        overflow: hidden;
    }

    .loading {
        font-size: 40px;
        width: 100vw !important;
        text-align: center;
    }

    .FullTable {
        width: 100vw;
        overflow: scroll;
    }

    .allTable {
        display: block;
        align-items: center;
        width: 90vw;
        border: 3px solid #dc4128;
        border-radius: 15px;
        overflow: hidden;
        margin-left: 5vw;
        margin-right: 5vw !important;
    }

    .fullCoast {
        padding: 3% 0;
        background: rgba(255,255, 255, 0.7);
    }

    .category_name {
        height: 100%;
        font-size: 22px;
        text-align: center;
        padding: 4%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    h1 {
        font-size: 40px;
        line-height: 0.7;
        margin-bottom: 7%;
    }

    .modal {
      width: 90vw;
      padding: 2%;
      z-index: 2;
      background: white;
      position: relative;
      border-radius: 10px;
      margin-left: 5vw;
      text-align: center;
      margin-top: 50vh;
      transform: translate(0, -50%);
    }

    h2 {
        font-size: 1.4rem;
    }

    .continue {
        margin-right: 5vw;
    }
}