<main>
    <div class="fullQuestion">
        <div class="block">
            <div class="question">
                <p>Вопрос за {{question.cost}}</p>
                <h2>{{question.text}}</h2>
            </div>
            <div class="video" *ngIf="question.URLPicture != '' || question.URLVideo != ''">
                <img *ngIf="question.URLPicture != ''" src="{{question.URLPicture}}" class="onePicture">
                <iframe *ngIf="question.URLVideo != ''" class="onevideo" [src]="VideoURL()" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="answer">
            <p (click)="chooseAnAnswer(1)" [ngClass]="{chooseAnAnswer: chooseAnAnswerFlag[1], answerTrue: answerTrueFlag[1], answerFalse: answerFalseFlag[1]}">1. {{question.answer1}}</p>
            <p (click)="chooseAnAnswer(2)" [ngClass]="{chooseAnAnswer: chooseAnAnswerFlag[2], answerTrue: answerTrueFlag[2], answerFalse: answerFalseFlag[2]}">2. {{question.answer2}}</p>
            <p (click)="chooseAnAnswer(3)" [ngClass]="{chooseAnAnswer: chooseAnAnswerFlag[3], answerTrue: answerTrueFlag[3], answerFalse: answerFalseFlag[3]}">3. {{question.answer3}}</p>
        </div>
        <p (click)="continue()" [ngClass]="{opacity: continueFlag}" class="continue">Продолжить <i class="fas fa-arrow-right"></i></p>
    </div>
</main>
