nav {
    display: flex;
    min-height: 5vh;
    justify-content: space-between;
    padding: 1% 20%;
}

nav h1 {
    font-weight: 900;
    color: #dc4128;
    font-size: 40px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 10%;
}

nav ul li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
    font-weight: normal;
    outline: none;
}

nav ul li a {
    color: grey;
}

nav ul li:hover {
    font-weight: 900;
}

.block {
    padding: 1% 10%;
}

#biblioNight {
    background: url(../../../../assets/biblioNight.jpg) no-repeat center top / cover;
    padding: 0% 10%;
    color: white;
}

#biblioNight h2 {
    font-weight: 900;
    padding: 5% 0;
    font-size: 28px;
    width: 60%;
}

#war {
    background: url(../../../../assets/mainBack.png) no-repeat center top / cover;
    padding: 2% 10%;
    display: flex;
    align-items: center;
}

#war div {
    width: 70%;
}

#war img {
    width: 30%;
}

#war h2 {
    color: #dc4128;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 1%;
}

#war p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

#form {
    padding: 2% 10%;
    background: url(../../../../assets/formBack.jpg) no-repeat center top / cover;
    color: white;
}

#form div {
    width: 100%;
}

#form a {
    color: white;
}

#form h2 {
    font-weight: 900;
}

form {
    width: 50%;
    margin-top: 20px;
}

form div {
    position: relative;
    width: 50%;
}

form input {
    border: 2px solid #ededed;
    padding: 1.5%;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 1%;
    width: 100%;
    border-radius: 5px;
}

.fa-check-circle, .fa-exclamation-circle {
    position: absolute;
    right: 2%;
    color: green;
    height: 100%;
    font-size: 20px;
    top: 25%;
}

.fa-check-circle {
    color: green;
}

.fa-exclamation-circle {
    color: red;
}

.success {
    border: 2px solid green !important;
}

.danger {
    border: 2px solid red !important;
}

.personalData {
    display: flex;
}

form input[type="checkbox"] {
    margin-right: 10px;
    width: 4%;
    margin-bottom: 0;
}

form label {
    font-size: 13px;
    width: 98%;
    color: white;
}

form label a {
    color: white;
    text-decoration: none;
}

form label a:hover {
    text-decoration: underline;
}

form button {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 1%;
    padding: 1.5%;
    font-size: 18px;
    border-radius: 5px;
}

main {
    min-height: 90vh;
}

footer {
    padding: 1% 10%;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

footer h2 {
    font-weight: 900;
    margin-bottom: 7px;
    font-size: 22px;
    color: #dc4128;
}

footer p {
    outline: none;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 3px;
}

footer p:hover {
    text-decoration: outline;
}

small {
    font-size: 16px;
    display: block;
}

.fa-redo-alt, .fa-chevron-left, .fa-chevron-right {
    font-size: 30px;
    margin-bottom: 20px;
    margin-right: 10px;
}

@media (max-width: 1000px) {
    nav {
        padding: 1% 10%;
    }
}

@media (max-width: 800px) {
    footer {
        padding: 1% 3%;
    }

    footer small {
        font-size: 14px;
    }

    nav {
        padding: 1%;
        display: block;
    }

    nav h1 {
        font-size: 30px;
        text-align: center;
    }
    
    nav ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    #biblioNight h2 {
        font-weight: 900;
        padding: 5% 0;
        font-size: 18px;
        width: 80%;
    }

    #biblioNight {
        background: url(../../../../assets/biblioNight.jpg) no-repeat center top / cover;
        padding: 0% 3%;
        color: white;
    }

    #war {
        background: url(../../../../assets/mainBack.png) no-repeat center top / cover;
        padding: 2% 3%;
        display: block;
    }
    
    #war div {
        width: 100%;
    }
    
    #war img {
        width: 50%;
        margin-left: 20%;
        margin-right: 25%;
    }
    
    #war h2 {
        color: #dc4128;
        font-weight: 900;
        font-size: 30px;
        margin-bottom: 1%;
    }
    
    #war p {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 12px;
    }

    #form {
        padding: 2% 3%;
        background: url(../../../../assets/formBack.jpg) no-repeat center top / cover;
        color: white;
    }
    
    form div {
        position: relative;
        width: 100%;
    }

    form {
        width: 100%;
    }

    form h2 {
        width: 100%;
        margin-bottom: 10px;
    }
    
    form input {
        border: 2px solid #ededed;
        padding: 1.5%;
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 1%;
        width: 100%;
        border-radius: 5px;
    }
    
    .fa-check-circle, .fa-exclamation-circle {
        position: absolute;
        right: 2%;
        height: 100%;
        font-size: 20px;
        top: 25%;
    }

    form button {
        width: 100%;
        background: white;
        text-align: center;
        border: 2px solid #ededed;
        padding: 1.5%;
        font-size: 18px;
        border-radius: 5px;
    }

    form label {
        font-size: 10px;
    }

    form label a {
        font-size: 10px;
    }

    form input[type="checkbox"] {
        margin-right: 10px;
        width: 25px;
        margin-bottom: 0;
        height: 25px;
        background: white;
        border: 2px solid #dc4128;
    }
}