<nav>
    <h1>Экспедиция памяти</h1>
    <ul>
        <li><a href="https://vk.com/likehome37" target="_blanck"><i class="fab fa-vk"></i></a></li>
        <li><a href="https://www.instagram.com/mc_iobdu/" target="_blanck"><i class="fab fa-instagram"></i></a></li>
    </ul>
</nav>
<section id="biblioNight">
    <h2>В этом году в связи с неблагоприятной эпидемиологической обстановкой «Библионочь» пройдет в режиме Всероссийского онлайн-марафона, который стартует 25 апреля и завершится 9 мая. Акция будет посвящена Победе в Великой Отечественной войне.</h2>
</section>

<section id="war">
    <div>
        <h2>Победа! 75 лет</h2>
        <p>В 2020 году Россия отмечает 75-летие Победы в Великой Отечественной войне. Это событие осталось в памяти народа как символ народной стойкости и героизма в защите Родины. Пять лет длилась эта война, и все эти годы люди научились жить и считаться с ней, переживая лишения, голод, потери самых близких людей. Нет в России такой семьи, в которой не было бы своего героя. Деды и прадеды, бабушки и прабабушки каждый день совершали свой подвиг, каждый внёс свой вклад в дело Великой Победы над захватчиками. Мы и сегодня благодарны тем, кто подарил нам эту Победу!</p>
        <p>Благодаря единству и сплоченности, трудолюбию и самоотверженности, невероятной любви к Родине наши предки обеспечили нам мир, свободу и независимость.</p>
        <p>А всё ли известно нам об этой войне? <br>Ивановская областная библиотека для детей и юношества предлагает вам проверить свои знания и ответить на вопросы онлайн - игры «Экспедиция памяти»</p>
    </div>
    <img src="../../../../assets/logo.png">
</section>

<section id="form">
    <div>
        <h2>Правила игры</h2>
        <p>Игра состоит из 5 разделов, связанных с тематикой Великой Отечественной войны по 6 вопросов в каждой категории. Вопросы представлены в форме тестирования с вариантами ответов. За каждый вопрос в зависимости от уровня сложности можно получить от 10 до 60 баллов. В случае правильного ответа участнику засчитывают то количество баллов, которое соответствует стоимости вопроса. Количество баллов за игру суммируется. Участники, набравшие наибольшее количество баллов, получат приз.</p>
        <br>
        <h3>ВАЖНО!</h3>
        <p>В процессе прохождения игры следует соблюдать условия:</p>
        <p>1. Не обновлять/перезагружать страницу</p>
        <p>2. Не использовать для навигации по игре кпоки "вперед" и "назад"</p>
        <p>При несоблюдении этих условий могут возникнуть технические проблемы и результат не сохранится.</p>
        <br>
        <h3><strong>Старт Экспедиции:</strong> 25 апреля в 18.00</h3>
        <h3><strong>Финиш Экспедиции:</strong> 26 апреля в 18.00.</h3>
        <p><i>* Если вы по каким-то причинам не успели принять участие в Экспедиции памяти в указанный срок, у вас сохраняется возможность проверить свои знания, но результаты учитываться не будут.</i></p>
        <br>
        <h3>Принять участие в игре может каждый желающий. Участие бесплатное.</h3>
        <p>Результаты игры и имена победителей будут опубликованы не позднее 27 апреля 18.00 в группах <a href="https://vk.com/likehome37" target="_blanck">Молодежного центра</a> и <a href="https://vk.com/iobdu" target="_blanck">Библиотеки</a></p>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit">
        <h2>Для начала игры укажите Ваши данные</h2>
        <div><input formControlName="name" type="text" placeholder="Ваше ФИО" name="name" [ngClass]="{'danger' : (form.get('name').invalid && form.get('name').touched), 'success' : !form.get('name').invalid && form.get('name').touched}"><i class="fas fa-check-circle" *ngIf="form.get('name').valid && form.get('name').touched"></i><i class="fas fa-exclamation-circle" *ngIf="form.get('name').invalid && form.get('name').touched"></i></div>
        <div><input formControlName="link" type="text" placeholder="Email или ссылка на страницу VK" name="link" [ngClass]="{'danger' : (form.get('link').invalid && form.get('link').touched), 'success' : !form.get('link').invalid && form.get('link').touched}"><i class="fas fa-check-circle" *ngIf="form.get('link').valid && form.get('link').touched"></i><i class="fas fa-exclamation-circle" *ngIf="form.get('link').invalid && form.get('link').touched"></i></div>
        <div class="personalData">
            <input formControlName="personalData" type="checkbox" id="personalData" name="personalData">
            <label for="personalData"><a href="https://iv-obdu.ru/upload/iblock/f90/f903f9edd877ded2ab034777a12328f6.pdf" target="_blanck">Нажимая кнопку отправки данных формы, я даю свое согласие ИОБДЮ на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года № 152-ФЗ «О персональных данных», на условиях и для целей, определенных Положением об обработке персональных данных</a></label>
        </div>
        <button (click)="submit()" [disabled]="form.invalid">Начать игру</button>
    </form>
</section>

<footer>
    <h2>Экспедиция памяти</h2>
    <p [routerLink]="['/login']">Зайти как администратор</p>
    <small>Отдел «Молодежный центр» Ивановской областной библиотеки для детей и юношества</small>
    <small>{{date.getFullYear()}}</small>
</footer>
